<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body style="color: black">
<div style="margin-bottom: 30px">
    Найдены новые объекты недвижимости (всего {{ realEstates|length }}):
</div>
{% for realEstate in realEstates %}
    <div style="display: table; margin-bottom: 30px;">
        {% if (realEstate.oldPriceDollars) %}
            <div style="display: table-row">
                <div style="display: table-cell;width: 40%;font-weight: bold"></div>
                <div style="display: table-cell;width: 60%">!!! Цена изменилась !!!</div>
            </div>
        {% endif %}
        <div style="display: table-row">
            <div style="display: table-cell;width: 40%;font-weight: bold">Ссылка:</div>
            <div style="display: table-cell;width: 60%"><a href="{{ realEstate.link }}">{{ realEstate.link }}</a></div>
        </div>
        <div style="display: table-row">
            <div style="display: table-cell;width: 40%;font-weight: bold">Количество комнат:</div>
            <div style="display: table-cell;width: 60%">{{ realEstate.numberOfRooms }}</div>
        </div>
        <div style="display: table-row">
            <div style="display: table-cell;width: 40%;font-weight: bold">Адрес:</div>
            <div style="display: table-cell;width: 60%">{{ realEstate.address }}</div>
        </div>
        <div style="display: table-row">
            <div style="display: table-cell;width: 40%;font-weight: bold">Этаж:</div>
            <div style="display: table-cell;width: 60%">{{ realEstate.floor }} из {{ realEstate.floorsTotal }}</div>
        </div>
        <div style="display: table-row">
            <div style="display: table-cell;width: 40%;font-weight: bold">Общая площадь:</div>
            <div style="display: table-cell;width: 60%">{{ realEstate.areaTotalMeters }} м^2</div>
        </div>
        {% if (realEstate.areaLivingMeters) %}
            <div style="display: table-row">
                <div style="display: table-cell;width: 40%;font-weight: bold">Площадь жилая:</div>
                <div style="display: table-cell;width: 60%">{{ realEstate.areaLivingMeters }} м^2</div>
            </div>
        {% endif %}
        {% if (realEstate.areaKitchenMeters) %}
            <div style="display: table-row">
                <div style="display: table-cell;width: 40%;font-weight: bold">Площадь кухни:</div>
                <div style="display: table-cell;width: 60%">{{ realEstate.areaKitchenMeters }} м^2</div>
        </div>
        {% endif %}
        {% if (realEstate.yearConstruction) %}
            <div style="display: table-row">
                <div style="display: table-cell;width: 40%;font-weight: bold">Год постройки:</div>
                <div style="display: table-cell;width: 60%">{{ realEstate.yearConstruction }}</div>
            </div>
        {% endif %}
        {% if (realEstate.yearRepair) %}
            <div style="display: table-row">
                <div style="display: table-cell;width: 40%;font-weight: bold">Год кап. ремонта:</div>
                <div style="display: table-cell;width: 60%">{{ realEstate.yearRepair }}</div>
            </div>
        {% endif %}
        {% if (realEstate.oldPriceDollars) %}
            <div style="display: table-row">
                <div style="display: table-cell;width: 40%;font-weight: bold">Старая цена:</div>
                <div style="display: table-cell;width: 60%">{{ realEstate.oldPriceDollars }}$</div>
            </div>
        {% endif %}
        <div style="display: table-row">
            <div style="display: table-cell;width: 40%;font-weight: bold">Цена:</div>
            <div style="display: table-cell;width: 60%">{{ realEstate.priceDollars }}$</div>
        </div>
        <div style="display: table-row">
            <div style="display: table-cell;width: 40%;font-weight: bold">Цена за метр:</div>
            <div style="display: table-cell;width: 60%">{{ realEstate.priceOneMeterDollars }}$</div>
        </div>
    </div>
{% endfor %}
</body>
</html>

